body,html {
    height: 100%;
}

#main_container{
    display: block;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 60px;
    margin-bottom: 20px;
    height: auto;
}

#canvas_container, #login_container, #chat_container, #chat_messages{
	border-radius: 10px; 
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
}

#canvas_container{
    background: #cccccc;
    height: 100%;
}

#login_container{
	background: #ffccff;
	padding: 10px;
	padding-bottom: 2px;
	margin-bottom: 10px;
}

#chat_messages{
	margin-top:10px;
	background: #ffccff;
	height: 77%;
}

#chat_container{
    position: relative;
    /*background: #cccccc;*/
    height: 100%;
}

#chat_input{
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    width: auto;
    margin-bottom: 20px;
}
