body,html {
    height: 90%;
}

#main_container{
    margin-top: 60px;
    height: 100%;
}

#canvas_container, #login_container, #chat_container{
	border-radius: 10px; 
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
}

#canvas_container{
    background: #cccccc;
    height: 100%;
}

#login_container{
	background: #ffccff;
	padding: 10px;
	padding-bottom: 2px;
	margin-bottom: 10px;
}


#chat_container{
    background: #ffccff;
}

#chat_input{
    position: absolute;
    bottom:70px;
    margin-left: 10px;
}
